fastapi==0.115.7
itsdangerous==2.2.0
Jinja2==3.1.5
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-openai==0.3.1
langchain-text-splitters==0.3.5
langgraph==0.2.65
langgraph-checkpoint==2.0.10
langgraph-checkpoint-mongodb==0.1.0
langgraph-sdk==0.1.51
langsmith==0.2.11
pydantic==2.10.6
pymongo==4.9.2
python-dotenv==1.0.1
starlette==0.45.3
tavily_python==0.5.0
uvicorn==0.34.0
